
/* img {
 -webkit-filter: blur(10px);
} */
/* * {
    font-family: 'Overlock', cursive;
} */
.homepage {
  background-image: url("https://i.pinimg.com/originals/62/e1/36/62e136c84376460c69767361708674f7.jpg");
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
  background-size: cover;
  width: 100%;
  min-height: 100vh;

}
.nav-titles {
    color: #aaa;
    cursor: pointer;
    font-family: 'Rock Salt', cursive;
}

.centerText {
    text-align: center;
    font-family: 'Overlock', cursive;
}

.sepia {
    background-color: #ead5c0;
    font-family: 'Overlock', cursive;

}

.btn {
    border-radius: 45px;
    box-shadow: 3px 3px 3px 3px #ccc;
    font-family: 'Overlock', cursive;
}

.fw-md {
  font-weight: 800 !important;
}

.h-lg {
  height: 35rem;
}

.font-1-5 {
  font-size: 1.5rem;
}

.image-wrapper-sm {
  object-fit: cover;
  border-radius: 50%;
  height: 15rem;
  width: 100%;
}

.card-title {
  color: #35687d;
}

/* ANTD Overwrites */
.ant-btn-primary {
  background-color: #35687d !important;
  border-color: #ccc !important;
}

.ant-slider-handle {
  border-color: #35687d !important;
}

.ant-slider-track {
  background-color: #ead5c0 !important;
}


/* navbar icons ---------------------------------------------*/
#icons {
    padding-left: 25px;
    font-size: 25px;
}

#signout {
    padding-left: 35px;
    font-size: 25px;
}

/* navbar font---------------------------------------------------------*/
.navFont {
    font-family: 'Rock Salt', cursive;
}

/* profile styling---------------------------------------- */
#padding {
    padding-bottom: 20px;
}

#buttonColor {
    background: #35687d;
    color: #ccc;
    font-family: 'Overlock', cursive;
}
/*-----------------------------------------------------*/

/* .App {
text-align: center;
} */

/* .App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
} */
.globalFont {
    font-family: 'Overlock', cursive ;
}

ul > li {
    text-decoration: none;

    padding-left: 27px;
}

#fitImage {
   background-size: cover;
   background-repeat: no-repeat;
   background-position: center center;
   height: 300px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
